/*===============ROOT============
цвет заголовков текста  #212121;
цвет текста #757575;
цвет акцента #2196F3;
белый цвет # FFFFFF
*/
.root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
